<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loginStyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<header>
    <div class="barra1">
    <img class="logo"src="/images/logo-mat-ear.png" alt="Logo MateAr">
    <div class="barra">
        <input type="text" name="search" placeholder="Buscar producto o marca" class="src" autocomplete="off">
    </div>
    </div>
    
     <ul class="item-list-uno">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Ayuda</a></li>
        <li><a href="/register">Registrate <i class="fas fa-id-card"></i></a></li>
        <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/cart">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
    </ul>
</header>
<body>
    <div class="Main">
        <main class ="Main-Form-Login">
            <div class ="Form-Login">
                <form class ="Form-Login-Campos">
                    <div class ="Datos-Input-Grupo">
                        <input type="email" class= "Form-Registro-Email" placeholder="Ingrese su correo electrónico">
                        <br>
                        <input type="password" class= "Form-Registro-Password" placeholder="Ingrese contraseña">
                        <br>
                    </div>
                    <br>
                    <br>
                    <div class ="Botones-Form-Grupo">
                        <button type= "button" name="Crear-Cuenta" > Ingreso</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
    
</body>





</html>