<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/productCartStyles.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<header>
    <div class="barra1">
    <img class = "logo"src="/images/logo-mat-ear.png" alt="Logo MateAr">
    <div class="barra">
        <input type="text" name="search" placeholder="Buscar producto o marca" class="src" autocomplete="off">
    </div>
    </div>
    
     <ul class="item-list-uno">
        <li><a href="/product-detail">Ofertas</a></li>
        <li><a href="#">Ayuda</a></li>
        <li><a href="/register">Registrate <i class="fas fa-id-card"></i></a></li>
        <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/cart">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
    </ul>
</header>
<br>
<body>
    <div class="Cart-Container">
        <div class="Header">
        <h3 class="Heading">Carrito de compras</h3>
        <h5 class="Action">Remover todo</h5>
        </div>

        <div class="Cart-Items">
            
            <div class="Product">
                <img class ="Image-Box" src="/images/mate-boca.webp" alt="mate boquita">
                    <div class="about">
                        <h1 class="title">Mate Boca Jrs.</h1>
                        <h3 class="subtitle">600ml</h3>
                    </div>
                <div class="counter">
                    <div class="btn">+</div>
                    <div class="count">2</div>
                    <div class="btn">-</div>
                </div>
                    <div class="prices">
                    <div class="amount">$799.99</div>
                    <div class="save"><u>Guardar</u></div>
                    <div class="remove"><u>Remover</u></div>
                </div>            
            </div>

            <div class="Product">
                <img class ="Image-Box" src="/images/termo-generico.webp" alt="Termo acero inoxidable">
                    <div class="about">
                        <h1 class="title">Termo acero inoxidable</h1>
                        <h3 class="subtitle">1L</h3>
                    </div>
                <div class="counter">
                    <div class="btn">+</div>
                    <div class="count">1</div>
                    <div class="btn">-</div>
                </div>
                    <div class="prices">
                    <div class="amount">$1999.99</div>
                    <div class="save"><u>Guardar</u></div>
                    <div class="remove"><u>Remover</u></div>
                </div>
            </div>
            <!--Añadir más productos aquí-->


    
            <hr>
            <div class="checkout">
            <div class="total">
            <div>
            <div class="Subtotal">Sub-Total</div>
            <div class="items">2 items</div>
            </div>
            <div class="total-amount">$2799.98</div>
            </div>
            <div class="buttons">
                <button class="button">Volver</button>
                <button class="button">Comprar</button>
            
            </div>   
        </div>
    </div>
    
</body>