<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/productCartStyles.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<body>
    <div class="Cart-Container">
        <div class="Header">
            <h3 class="Heading">Carrito de compras</h3>
            <h5 class="Action">Remover todo</h5>
            <div class=”Cart-Items”>
                <div class=”image-box”>
                    <img src=”images/apple.png”>
                </div>
                <div class=”about”>
                <h1 class=”title”>Apple Juice</h1>
                <h3 class=”subtitle”>250ml</h3>
                <div class=”counter”></div>
                <div class=”prices”></div>
                </div>
            </div>
    </div>
   </body>
</html>