<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/productDetailStyle.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<header>
    <div class="barra1">
    <img class = "logo"src="/images/logo-mat-ear.png" alt="Logo MateAr">
    <div class="barra">
        <input type="text" name="search" placeholder="Buscar producto o marca" class="src" autocomplete="off">
    </div>
    </div>
    
     <ul class="item-list-uno">
        <li><a href="/product-detail">Ofertas</a></li>
        <li><a href="#">Ayuda</a></li>
        <li><a href="/register">Registrate <i class="fas fa-id-card"></i></a></li>
        <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/cart">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
    </ul>
</header>