<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>

<body>

    <main class ="Main-Form-Registro">
        <div class ="Form-Registro">
            <form class ="Form-Registro-Campos">
                <input type="email" class= "Form-Registro-Email" placeholder="Ingrese su correo electrónico">
                <br>
                <br>
                <input type="password" class= "Form-Registro-Password" placeholder="Ingrese contraseña">
                <br>
                <br>
                <input type="password" class= "Form-Registro-ConfirPassword" placeholder="Confirme contraseña">
                <br>
                <br>
            </form>
        </div>


    </main>
    
</body>





</html>