<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registStyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>

<body>
    <div class="Main">
        <main class ="Main-Form-Registro">
            <div class ="Form-Registro">
                <form class ="Form-Registro-Campos">
                    <div class ="Datos-Input-Grupo">
                        <input type="email" class= "Form-Registro-Email" placeholder="Ingrese su correo electrónico">
                        <br>
                        <input type="password" class= "Form-Registro-Password" placeholder="Ingrese contraseña">
                        <br>
                        <input type="password" class= "Form-Registro-ConfirPassword" placeholder="Confirme contraseña">
                        <br>
                    </div>
                    <br>
                    <br>
                    <div class ="Botones-Form-Grupo">
                        <button type= "button" name="Crear-Cuenta" > Crear Cuenta</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
    
</body>





</html>