@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
html{background: linear-gradient(to right, #8B7241, #453921);}

header{display: flex; flex-direction: column; width: 100vw;}
.barraHome1{
    width: 100vw;
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    background-color: rgba(227,246,236,255);}

.barraHome2{
    align-self: center; 
    box-sizing: border-box; 
    margin: 2vw; 
    justify-self:flex-end;
    
}
    

.srcHome {
    font-size: 24px;
    width: 100%;
    justify-self: flex-end;
}

.logo{align-self: center;}
.item-list-uno-home{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    align-self: center;
    background-color: rgb(122, 167, 181);
    margin: 0%;
    height: 6vh;
    padding-top: 3vh;
}

.contenedor-articulos-home{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main-section-home{
    text-align: center;
    width: 90vw;
    flex-wrap: wrap;
}
.articulos-home{
    margin: 5px;
    background-color: white;
    display: block;
}

.imagenes-home{
    width: 320px;
    
}

.price-home{
    font-size: 18px;
    margin: 5px;
    text-align: left;
    display: block;
}
.discount-home{
    font-size: 16px;
    margin: 5px;
    text-align: left;
    color: green;
    display: block;
}
.description-home{
    font-size: 16px;
    color: #666;
    text-align: left;
    display: none;
    display: block;
}



/*Footer*/

.contenedor-footer-home{
    text-align: center;
    }
    .h4-footer-home{
        font-size: 15px;
        margin-bottom: 1px;
        margin-top: 10px;
    }
    .p-footer-home{
        margin-top: 2px;
        margin-bottom: 25px;
    }
    .icono-footer-home{
        font-size: 2em;
        color: gray
        ;
        margin-bottom: 10px;
    }
   
    
    
    
    
    
    
    