@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #8B7241, #453921);
    position: relative;
}
header{display: flex; flex-direction: column;}

.barra1{display: flex; flex-direction: row; background-color: rgba(227,246,236,255);}

.barra{padding-left:40vw; align-self: center; box-sizing: border-box; margin: 2vw; justify-self:flex-end}

.src {
    font-size: 24px;
}


.item-list-uno{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    align-self: center;
    background-color: rgb(122, 167, 181);
    margin: 0%;
    height: 6vh;
    padding-top: 3vh;
}

.contenedor-articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main-section{
    text-align: center;
    width: 90vw;
    flex-wrap: wrap;
}
.articulos{
    margin: 5px;
    background-color: white;
    display: block;
}

.imagenes {
    width: 320px;
    
}

.price{
    font-size: 18px;
    margin: 5px;
    text-align: left;
    display: block;
}
.discount{
    font-size: 16px;
    margin: 5px;
    text-align: left;
    color: green;
    display: block;
}
.description{
    font-size: 16px;
    color: #666;
    text-align: left;
    display: none;
    display: block;
}



/*Footer*/

.contenedor-footer{
    text-align: center;
    }
    .h4-footer{
        font-size: 15px;
        margin-bottom: 1px;
        margin-top: 10px;
    }
    .p-footer{
        margin-top: 2px;
        margin-bottom: 25px;
    }
    .icono-footer{
        font-size: 2em;
        color: gray
        ;
        margin-bottom: 10px;
    }
   
    
    
    
    
    
    
    