
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #8B7241, #453921);
    position: relative;
}
.header-header{display: flex; flex-direction: column;}



.item-list-header{
    width: 100%;
}
header{display: flex; flex-direction: column; width: 100vw;}
html{background: linear-gradient(to right, #8B7241, #453921);}
.barra-1-header{
    width: 100vw;
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    background-color: rgba(227,246,236,255);}

.barra-2-header{
    align-self: center; 
    box-sizing: border-box; 
    margin: 2vw; 
    justify-self:flex-end;
    
}
    

.searchbar-header {
    font-size: 24px;
    width: 100%;
    justify-self: flex-end;
}

.item-list-header{
    width: 100vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    align-self: center;
    background-color: rgb(122, 167, 181);
    margin: 0%;
    height: 6vh;
    padding-top: 3vh;
}

/*Detalle de producto*/


.contenedor-prod-det{
    display: flex;
    align-items: center;

}

.imagenes-prod-det{
    padding: 10px;
    
    box-shadow: 0 0 3em rgb(36, 35, 35);
    margin: 7%;
    padding: 0%;
    border-radius: 5px;
}
.detalle-prod-det{
    flex-direction: column;
    
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 0 3em rgb(36, 35, 35);
}
.titulo-detalle-prod-det{
    border-bottom: #453921 solid 1px;
}
.price-prod-det{
    font-size: 24px;

}
.discount-prod-det{
    color: green;

}
.description{

}
.info-productos{
    color: gray;
}


body{margin:0px}

