body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #8B7241, #453921);
    position: relative;
}
header{display: flex; flex-direction: column;}

.barra1{display: flex; flex-direction: row; background-color: rgba(227,246,236,255);}

.barra{padding-left:40vw; align-self: center; box-sizing: border-box; margin: 2vw; justify-self:flex-end}

.src {
    font-size: 24px;
}


.item-list-uno{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    align-self: center;
    background-color: rgb(122, 167, 181);
    margin: 0%;
    height: 6vh;
    padding-top: 3vh;
}
/*Detalle de producto*/


.contenedor{
    display: flex;
    align-items: center;

}

.imagenes{
    padding: 10px;
    
    box-shadow: 0 0 3em rgb(36, 35, 35);
    margin: 7%;
    padding: 0%;
    border-radius: 5px;
}
.detalle{
    flex-direction: column;
    
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 0 3em rgb(36, 35, 35);
}
.titulo-detalle{
    border-bottom: #453921 solid 1px;
}
.price{
    font-size: 24px;

}
.discount{
    color: green;

}
.description{

}
.info-productos{
    color: gray;
}