header{display: flex; flex-direction: column; width: 100vw;}
html{background: linear-gradient(to right, #8B7241, #453921);}
.barra1{
    width: 100vw;
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    background-color: rgba(227,246,236,255);}

.barra{
    align-self: center; 
    box-sizing: border-box; 
    margin: 2vw; 
    justify-self:flex-end;
    
}
    

.src {
    font-size: 24px;
    width: 100%;
    justify-self: flex-end;
}

.logo{align-self: center;}
.item-list-uno{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    align-self: center;
    background-color: rgb(122, 167, 181);
    margin: 0%;
    height: 6vh;
    padding-top: 3vh;
}