@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/* ----------------------------- */
/* ---------- BODY ---------- */
body{
    background-image: url('/images/leather-brown-texture.jpg');
    background-size: 1474px;
    /*background-color: #5C4423;*/
    margin: 0px;
    padding: 0px;
}
/*CARROUSEL*/
#cont_items_carrousel{
    height: 300px;
    width: 100vw;
    overflow: hidden;
    
}
.itemCarrousel{
    border: 1px solid black;
    height: 100%;
    position: relative;
}
#tarjeta_carrousel_1{
    background-color: rgb(122, 167, 181);
}
#tarjeta_carrousel_2{
    background-color: rgb(139, 181, 122);
}
#tarjeta_carrousel_3{
    background-color: rgb(181, 122, 181);
}
.tarjeta_carrousel{
    height: 100%;
}
.tarjeta_carrousel img{
    height: 100%;
    width: 100%;
}
.felchas_carrousel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.felchas_carrousel a{
    text-decoration: none;
}
a i{
    color: white;
}
.contenedor_puntos{
    background-color: rgba(220, 220, 220, 0.555);
    display: flex;
    justify-content: center;
}
.contenedor_puntos a{
    margin: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.562);
}
/* ----------------------------- */
/* ---------- HEADER ---------- */
.Header_Cont{
    display: flex; 
    width: 100vw;
    height: 15vw;
    flex-direction: row;
    justify-content: space-between; 
    background-image: url('/images/cuero-negro.jpg');
    background-size: 500px;
    
    
}
.iconos-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 3.5vw;
    margin-right: 150px;
}
.insta{
    color: #E1306C;
}
.facebu{
    color:#3b5998;
}

.Logo {
 padding-left: 0; 

}

.Logo img{
    width: 12vw;
    height: 12vw;
    padding-top: 10px;
    padding-bottom: 10px;
 
}



.Header-Barra-Busqueda{
    align-self: center; 
    width: 15vw;
    box-sizing: border-box; 
    margin: 2vw; 
    justify-self:flex-end;
    padding: 0;
    
}
    

.Header-Searchbar-Input {
    background-color: gainsboro;
    font-size: 24px;
    width: 100%;
    justify-self: flex-end;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.Header-Cont-List{
    width: 100vw;
    background-image: url('/images/cuero-negro.jpg');
    background-size: 500px;
    padding: 0;
    margin: 0;
    
}

.Header-List-Items{
    place-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    margin: 0%;
    height: 2vh;
   

    /*padding-top: 3vh;*/
}

.Header-List-Items a {
   
    font-family: 'Oswald';
    color:  gainsboro;
   
    text-decoration: none;
    margin-left: 2%;
    margin-right: 2%;
}
.Header-List-Items a:hover {
    text-decoration: underline;
}




/*register css*/

/*
.barra-registro1{
    width: 100vw;
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    background-color: rgba(227,246,236,255);}

.barra-registro2{
    align-self: center; 
    box-sizing: border-box; 
    margin: 2vw; 
    justify-self:flex-end;
    
}


.item-list-uno-registro{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    align-self: center;
    background-color: rgb(122, 167, 181);
    margin: 0%;
    height: 6vh;
    padding-top: 3vh;
}*/

/* ------------------------------- */
/* ---------- REGISTER ---------- */


.Register-Cont-Main{
    width: 80%;
}


.Register-Cont-Main-Form{
    display: flex;
    padding: 0px;
    margin-top: 6%;
    margin-bottom: 5%;
    margin-left: 28%;
    margin-right: 20%;
    width: 55vw;
    height: 60vh;
    border:none; 
}

.Register-Cont-Form{ 
    margin: auto;
    padding: 0px;
    width: 45vw;
    height: 50vh;    
    border: solid 2px;
    border-color: black;
    border-radius: 20px;
    background-color: white;
}

.Register-Form-Campos .Datos-Input-Grupo-Registro input{
    width: 18vw;
    height: 3vh;
    padding: 5px;
    margin-top: 6%;
    margin-left: 8%;
    border:solid 2px;
    border-color: #666;
    border-radius: 5px;
}

.Register-Form-Campos .Botones-Form-Grupo button{
    margin-top: 1.2%;
    margin-left: 8%;  
    width: 14vw;
    height: 8vh;
    border-radius:  8px;
    border-color: #666;
    background: rgb(64, 191, 115);
    font-family: 'Roboto';
    font-weight: 600;
    color: #202020;
    font-size: 1.5vw;
    text-align: center;
    box-sizing: border-box;
} 

.text-danger{
    width: 18vw;
    height: 3vh;
    padding: 5px;
    margin-left: 8%;
    color: red;
}

/* ---------------------------------- */
/* ---------- HOME ARTICULOS ---------- */

.articulo-cont{
    place-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    margin: 0%;
}
    
.articulo-circulo{
    
    border-radius: 50%;
    border: 1px solid gainsboro;
    font-size: 120px;
    text-decoration: none;
}

/* ---------- ARTICULOS PRODUCTOS ---------- */

.cont-articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: gainsboro;
    margin: 10px;
    width: 20%;
}



/* ---------- PRODUCT NEW ---------- */
.Cont_Gral_Form_newProduct{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.Cont_Form_newProduct {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 2px transparent;
    border-radius: 15px;
    background-color: white;
    width: 80vw;
    height: 50vh;
    box-sizing: border-box;
    padding: 15px;

}

.Title_New_Product{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 70vw;
    height: 6vh;
}
.Tittle_New_Product_H{
    color:#2F3841;
    align-items: center;
    
}
.Cont_Icon_File_Img{
    width: 20vw;
    height: 20vh;
}

.Cont_Icon_File_Img i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12vw;
    text-align: center;
    color: #909090;
}

.Form_newProduct{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
.Img_Product{
    width: 30vw;
    height: 20vh;
}
.Cont_Input_File_Img{
    width: 30vw;
    height: 3vh;
}

.Cont_Input_File_Img #Input_File_Img{
    content: 'Aplicar';
}

.Form_newProduct input {
    border-radius: 0.4vw;
    border: 0.5px solid;
    box-shadow: 2px 2px 2px #666;
    width: 30vw;
    height: 3vh;
}

.Button_New_Product{
    width: 25vw;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
    align-content: flex-end;
}

.Button_New_Product button{
    width: 10vw;
    height: 5vh;
    align-items: flex-end;
    border-radius: 5px;
    border: solid 0px;
    box-shadow: -1px 1px 4px 2px #666;
    color: white;
}

.Cont_buttons_New_Product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}


.ButonAddProduct{
    background-color: #3869a3;
}

.ButtonCancProduct{
    background-color: #d07684;
}

/* ---------------------------------- */
/* ---------- PRODUCT EDIT ---------- */
.Cont_Gral_Form_editProduct{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.Cont_Form_editProduct {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 2px transparent;
    border-radius: 15px;
    background-color: white;
    width: 80vw;
    height: 50vh;
    box-sizing: border-box;
    padding: 15px;

}

.Title_Edit_Product{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 70vw;
    height: 6vh;
}
.Tittle_Edit_Product_H{
    color:#2F3841;
    align-items: center;
    
}
.Cont_Icon_File_Img{
    width: 20vw;
    height: 20vh;
}

.Cont_Icon_File_Img i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12vw;
    text-align: center;
    color: #909090;
}

.Form_editProduct{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
.Img_Product{
    width: 30vw;
    height: 20vh;
}
.Cont_Input_File_Img{
    width: 30vw;
    height: 3vh;
}

.Cont_Input_File_Img #Input_File_Img{
    content: 'Aplicar';
}

.Form_editProduct input {
    border-radius: 0.4vw;
    border: 0.5px solid;
    box-shadow: 2px 2px 2px #666;
    width: 30vw;
    height: 3vh;
}

.Button_Edit_Product{
    width: 25vw;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
    align-content: flex-end;
}

.Button_Edit_Product button{
    width: 10vw;
    height: 5vh;
    align-items: flex-end;
    border-radius: 5px;
    border: solid 0px;
    box-shadow: -1px 1px 4px 2px #666;
    color: white;
}

.Cont_buttons_Edit_Product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}


.ButonEditProduct{
    background-color: #3869a3;
}

.ButtonCancProduct{
    background-color: #d07684;
}

/* ---------------------------------- */
/* ---------- PRODUCT DETAIL ---------- */
.Product-Detail-Body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Product-Detail{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;    
    justify-content: space-around;
    border: solid 1px red;
    width: 80%;
    height: 50%;
    background-color: white;
    border-radius: 20px;
}

.Product-Detail-Cont-Img{
    width: 35%;
    height: 10%;
    border: solid 1px blue;
    background-image: transparent;
    border-radius: 50px;
}

.Product-Detail-Img{
    width: 20vw;
    height: 20vw;
}
.Product-Detail-Cont-Detalle{
    width: 40vw;
    height: 20vw;
    border: solid 1px purple;
}



/* ---------------------------------- */
/* ---------- PRODUCT CART ---------- */
.Cart_Cont_Gral{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.src-cart{
    font-size: 1.5vw;
    width: 100%;
    justify-self: flex-end;
}

.body-cart{
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   }
   .Cart-Container{
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
   }
   .Header-cart{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .Heading-cart{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #2F3841;
   }
   .Action-cart{
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #292214;
    cursor: pointer;
    border-bottom: 1px solid #292214;
   }
   .Cart-Items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;   
}
   
   .Product-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   }
   .Image-Box-cart{
    box-sizing: border-box;
    width: auto;
    height: auto;
    max-height: 12vh;
    max-width: 24vw;
    margin: 1vw;
   }
   .about-cart{
    height: 100%;
   }
   
   .title-cart{
    padding-top: 5px;
    line-height: 10px;
    font-size: 0.9rem;
    font-family: 'Roboto';
    font-weight: bolder;
    color: #202020;
   }
   .subtitle-cart{
    line-height: 10px;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #909090;
    text-align: end;
   }

   .counter-cart{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .btn-cart{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 900;
    color: #202020;
    cursor: pointer;
   }
   .count-cart{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 900;
    color: #202020;
   }

   .prices-cart{
    height: 100%;
    text-align: right;
   }
   .amount-cart{
    padding-top: 20px;
    font-size: 26px;
    font-family: 'Roboto';
    font-weight: 800;
    color: #202020;
   }
   .save-cart{
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #93C48B;
    cursor: pointer;
   }
   .remove-cart{
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #292214;
    cursor: pointer;
   }

   hr{
    width: 66%;
    float: right;
    margin-right: 5%;
   }
   .checkout-cart{
    box-sizing: border-box;
    margin: 5%;
    width: auto;
    justify-self: flex-end;
   }
   .total-cart{
    width: 100%;
    display: flex;
    justify-content: space-between;
   }
   .Subtotal-cart{
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #202020;
   }
   .items-cart{
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #909090;
    line-height: 10px;
   }
   .total-amount-cart{
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: 900;
    color: #202020;
   }
   .button-cart{
    box-sizing: border-box;
    margin: 5%;
    margin-top: 5px;
    width: 45%;
    height: 40px;
    border: none;
    background: rgb(64, 191, 115);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #202020;
   }
   .buttons-cart{display: flex; justify-content: flex-end;}


/* ----------------------------- */
/* ---------- LOGIN ---------- */
.Login-Main{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 20%;
    width: 80%;
}

.Login-Main-Cont{
    display: flex;
    padding: 0px;
    margin: auto;
    width: 55vw;
    height: 60vh;
    border:none;
}

.Login-cont-Form{ 
    margin: auto;
    padding: 0px;
    width: 45vw;
    height: 50vh;    
    border: solid 2px;
    border-color: black;
    border-radius: 20px;
    background-color: white;
}

.Login-Form .Login-Cont-Campos-Datos input{
    width: 15vw;
    height: 3vh;
    padding: 5px;
    margin-top: 6%;
    margin-left: 8%;
    border:solid 2px;
    border-color: #666;
    border-radius: 5px;
}

.Login-Form .Login-Cont-Botonones input{
    margin-top: 1.2%;
    margin-left: 8%;  
    width: 14vw;
    height: 8vh;
    border-radius:  8px;
    border-color: #666;
    background: rgb(64, 191, 115);
    font-family: 'Roboto';
    font-weight: 600;
    color: #202020;
    font-size: 1.5vw;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 2px solid #292214;
} 




/* ---------------------------------- */
/* ---------- USUARIO HOME ---------- */

Header{display: flex; flex-direction: column; width: 100%;}
.barraHome1{
    width: 100vw;
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    background-color: rgba(227,246,236,255);}

.barraHome2{
    align-self: center; 
    box-sizing: border-box; 
    margin: 2vw; 
    justify-self:flex-end;
    
}
    

.srcHome {
    font-size: 24px;
    width: 100%;
    justify-self: flex-end;
}

.item-list-uno-home{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    align-self: center;
    background-color: rgb(122, 167, 181);
    margin: 0%;
    height: 6vh;
    padding-top: 3vh;
}

.Home-Cont-Articulos{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Home-Cont-Section-Articulos{
    width: 90%;
    height: 50%;
    align-items: center;
}

.Home-Cont-Main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.Home-Main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90vw;
    flex-wrap: wrap;
}
.Home-Articulo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 5px;
    background-color: white;
    display: block;
    width: 25vw;
    height: 25vw;
    border-radius: 10px;
    box-shadow: 1.8px 1.8px  2px darkslategray;
}

.Home-Articulo:hover {
    box-shadow: 1.8px 1.8px  2px darkslategray;
    color: red;    
}
.Home-Cont-Articulo-Imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.Home-Articulo-Imagenes{
    width: 12vw;
    height: 12vw;
}

.Home-Cont-Articulo-texto {
    height: 50%;
    width: 50%;
    border: solid 1px red;
}
.Home-Cont-Articulo-texto p{
    margin:0px;
    padding: 0px;
    size: 0.3vw;
   
}
.Home-Articulo-Price{
    font-size: 18px;
    margin: 1px;
    padding: 0px;
    text-align: left;
    display: block;
}
.Home-Articulo-Discount{
    font-size: 16px;
    margin: 1px;
    padding: 0px;
    text-align: left;
    color: green;
    display: block;
}
.Home-Articulo-Description{
    font-size: 16px;
    margin:0px;
    padding: 0px;
    color: black;
    text-align: left;
    display: none;
    display: block;
}



/*Footer*/
.Cont_Gral_footer{
    border-top: solid 2px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2vw;
}
.Linea_Sup_PiePag{
    width: 80%;
    background-color: red;
    align-items: center;
}

.Cont_NcV{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url('/images/leather-brown-texture.jpg');
    background-size: 1474px;
    padding-bottom: 15px;
}
.Cont_NcV h4 {
    color: rgb(64, 191, 115);
}
.Cont_Nav a{
    color: white;
    padding: 0.2vw;
}
.Cont_Nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.Cont_Con{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Cont_Con p{
    color: white;
    padding: 0vw;
    margin:1px;
}

.Cont_Vis{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Cont_Vis p{
    color: white;
    padding: 0vw;
    margin: 1px
}
.Cont_Seg{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.Cont_Seg i{
    margin: 5px;
    font-size: 1.6vw;
}

.Cont_Linea_Sup{
    display: flex;
    align-items: center;
}
.Cont_PiePag{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:rgba(71,76,89,255);
}
.Cont_PiePag p{
    color: white;
    padding: 0vw;
    margin-left: 17.5vw;
}
.Cont_PiePag a{
    color: white;
    padding: 0vw;
    margin-right: 17.5vw;
}


.feedback{
    color: purple;
    font-size: 3px;
    background-color: #2F3841;
}
   
    
    
    
    
    
    
    