<footer>
    <div class="Cont_Gral_footer">
        <div class ="Cont_NcV">
            <div class ="Cont_Nav">
                <H4>NAVEGACIÓN</h4>
                <a href ="#">Inicio</a>
                <a href ="#">Shop</a>
                <a href ="#">Contacto</a>
            </div>
            <div class ="Cont_Con">
                <h4>CONTACTO</h4>
                <p>1156987412</p>
                <p>info@matear.com.ar</p>
            </div>
            <div class ="Cont_Vis">
                <h4>VISITANOS</h4>
                <p>Av.Senador Morón 600</p>
                <p>Buenos Aires, Argentina.</p>
            </div>
        </div>
        <div class = "Cont_Linea_Sup">
            <hr class ="Linea_Sup_PiePag"></hr>
        </div>
        <div class ="Cont_PiePag">
            <p>Copyright© 2022 MateAr S.A.</p>
            <a href ="https://www.argentina.gob.ar/servicio/iniciar-un-reclamo-ante-la-direccion-nacional-de-defensa-del-consumidor-y-arbitraje-del">Defensa al Consumidor</a>
        </div>
    </div>
</footer>