<header class="Header">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <div class ="Header_Cont">
        <div class="Header-Cont-Barra">
            <div class="Header-Barra-Busqueda">
                <input type="text" name="search" placeholder="Buscar producto o marca" class="Header-Searchbar-Input" autocomplete="off">
            </div>
            <div class="Logo">
            <img src="/images/logo-mat-ear.png" alt="Logo MateAr">
        </div>
            
            <div class ="iconos-header">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
        </div>
        <div class = "Header-Cont-List">
            <ul class="Header-List-Items">
                <a href="/product-detail">Ofertas</a>
                <a href="#">Ayuda</a>
                <a href="/register">Registrate</i></a>
                <a href="/login">Ingresa</i></a>
                <a href="/cart">Mis compras</i></a>
                <a href="/products/new">Agregar producto</a>
                <a href="/products/edit">Editar</i></a>

            </ul>
        </div>
    </div>
</header>
