<header class="Header">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <div class ="Header_Cont">
        <div class="Header-Cont-Barra">
            <img src="/images/logo-mat-ear.png" alt="Logo MateAr">
            <div class="Header-Barra-Busqueda">
                <input type="text" name="search" placeholder="Buscar producto o marca" class="Header-Searchbar-Input" autocomplete="off">
            </div>
        </div>
        <div class = "Header-Cont-List">
            <ul class="Header-List-Items">
                <li><a href="/product-detail">Ofertas</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="/register">Registrate <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/cart">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </div>
    </div>
</header>
