    
    <div class = "Header">
        <%- include ('../partials/header') %>
    </div>
    

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="\images\fondo-carrousel-1.jpg" class="d-block w-100" alt="mate-carro">
          </div>
          <div class="carousel-item">
            <img src="\images\foto-carrousel-2.jpg" class="d-block w-100" alt="mate-carrro">
          </div>
          <div class="carousel-item">
            <img src="\images\carrousel-prueba-3.jpg" class="d-block w-100" alt="mate-carrrro">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <div class="articulo-cont">

        <a href="/products"> <img src="/images/allProducts-circulo.png" alt="mates"><div class="articulo-text">Todos los Productos</div></a>
        <a href="/products"><img src="/images/mates-home.png" alt="mates"><div class="articulo-text">Mates</div></a>
        <a href="/products"><img src="/images/termo-circulo.png" alt="mates"><div class="articulo-text">Termos</div></a>
        <a href="/products"><img src="/images/bombilla-circulo.png" alt="mates"><div class="articulo-text">Bombillas</div></a>
        <a href="/products"><img src="/images/matera-circulo.png" alt="mates"><div class="articulo-text">Materas</div></a>
        <a href="/products"><img src="/images/yerbero-circulo.png" alt="mates">Yerberos</a>
    

    </div>

    <div class ="Footer">
        <%- include ('../partials/footer') %>
    </div>
    