<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/stylesheet.css">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>MateAr</title>
    
</head>

<body>
    
    <div class = "Header">
        <%- include ('../partials/header') %>
    </div>
    
    <div id="cont_items_carrousel">
        <div class="itemCarrousel" id="item_carrousel_1">
            <div class="tarjeta_carrousel" id="tarjeta_carrousel_1">
                <img src="\images\foto-prueba3.png" alt="mate-carr">
            </div>
            <div class="felchas_carrousel">
                <a href="#tarjeta_carrousel_3"><i class="fas fa-arrow-left"></i></a>
                <a href="#tarjeta_carrousel_2"><i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="itemCarrousel" id="item_carrousel_2">
            <div class="tarjeta_carrousel" id="tarjeta_carrousel_2">
                <img src="\images\pexels-atlantico.jpg" alt="mate-carrr">
            </div>
            <div class="felchas_carrousel">
                <a href="#tarjeta_carrousel_1"><i class="fas fa-arrow-left"></i></a>
                <a href="#tarjeta_carrousel_3"><i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="itemCarrousel" id="item_carrousel_3">
            <div class="tarjeta_carrousel" id="tarjeta_carrousel_3">C</div>
            <div class="felchas_carrousel">
                <a href="#tarjeta_carrousel_2"><i class="fas fa-arrow-left"></i></a>
                <a href="#tarjeta_carrousel_1"><i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="contenedor_puntos">
        <a href="#tarjeta_carrousel_1">◉</a>
        <a href="#tarjeta_carrousel_2">◉</a>
        <a href="#tarjeta_carrousel_3">◉</a>
    </div>
    

    <div class ="Footer">
        <%- include ('../partials/footer') %>
    </div>
    
    
</body>
</html>