<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/stylesheet.css">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>MateAr</title>
    
</head>

<body>
    
    <%- include ('../partials/header') %>

    <main class="main-section-home">
        <h3 class="title-section-home">Ofertas</h3>
<section class="contenedor-articulos-home">
    <article class="articulos-home">
        <img class="imagenes-home" src="\images\termo-generico.webp" alt="termo">
        <p class="price-home">$5.000 </p>
            <p class="discount-home">20$ OFF</p>
            <h4 class="description-home">Termo clásico</h4>
    </article>
    <article class="articulos-home">
        <img class="imagenes-home" src="\images\termo-y-mate-argentina.jpg" alt="termo">
        <p class="price-home">$6.500 </p>
            <p class="discount-home">15$ OFF</p>
            <h4 class="description-home">Termo Argentino</h4>
    </article>
    <article class="articulos-home">
        <img class="imagenes-home" src="\images\mate-amplificador.webp" alt="mate">
        <p class="price-home">$2.000 </p>
            <p class="discount-home">15$ OFF</p>
            <h4 class="description-home">Mate Amplificador</h4>
    </article>
    <article class="articulos-home">
        <img class="imagenes-home" src="\images\mate-boca.webp" alt="mate">
        <p class="price-home">$2.000</p>
            <p class="discount-home">15$ OFF</p>
            <h4 class="description-home">Mate de Boca</h4>
    </article>
    <article class="articulos-home">
        <img class="imagenes-home" src="\images\mate-carpincho.webp" alt="mate">
        <p class="price-home">$2.000</p>
            <p class="discount-home">15$ OFF</p>
            <h4 class="description-home">Mate Carpincho</h4>
    </article>

</section>

    </main>

    <%- include ('../partials/footer') %>
    
</body>
</html>