<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/stylesheet.css">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>MateAr</title>
    
</head>

<body>
    
    <%- include ('../partials/header') %>

    <main class="main-section-home">
        <h3 class="title-section-home">Ofertas</h3>
<section class="contenedor-articulos-home">
    <article class="articulos-home">
        <img class="imagenes-home" src="\images\termo-generico.webp" alt="termo">
        <p class="price-home">$5.000 </p>
            <p class="discount-home">20$ OFF</p>
            <h4 class="description-home">Termo clásico</h4>
    </article>
    <article class="articulos-home">
        <img class="imagenes-home" src="\images\termo-y-mate-argentina.jpg" alt="termo">
        <p class="price-home">$6.500 </p>
            <p class="discount-home">15$ OFF</p>
            <h4 class="description-home">Termo Argentino</h4>
    </article>
    <article class="articulos-home">
        <img class="imagenes-home" src="\images\mate-amplificador.webp" alt="mate">
        <p class="price-home">$2.000 </p>
            <p class="discount-home">15$ OFF</p>
            <h4 class="description-home">Mate Amplificador</h4>
    </article>
    <article class="articulos-home">
        <img class="imagenes-home" src="\images\mate-boca.webp" alt="mate">
        <p class="price-home">$2.000</p>
            <p class="discount-home">15$ OFF</p>
            <h4 class="description-home">Mate de Boca</h4>
    </article>
    <article class="articulos-home">
        <img class="imagenes-home" src="\images\mate-carpincho.webp" alt="mate">
        <p class="price-home">$2.000</p>
            <p class="discount-home">15$ OFF</p>
            <h4 class="description-home">Mate Carpincho</h4>
    </article>

</section>

    </main>

    <footer class="contenedor-footer-home">
        <div>
            <div class="icono-footer-home"><i class="fas fa-credit-card"></i></div>
            <h4 class="h4-footer-home">Pagá con tarjeta o en efectivo</h4>
            <p class="p-footer-home">Con MateAr Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <div class="icono-footer-home"><i class="fas fa-gift"></i></div>
            <h4 class="h4-footer-home">Envío gratis desde $ 4.000</h4>
            <p class="p-footer-home">Solo por estar registrad@ en MateAr tenés envíos gratis en miles de productos.</p>
        </div>
            <div>
            <div class="icono-footer-home"><i class="fas fa-user-shield"></i></div>
            <h4 class="h4-footer-home">Seguridad, de principio a fin</h4>
            <p class="p-footer-home">¿No te gusta? ¡Devolvelo! En MateAr, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
    </footer>
    
</body>

</html>