<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/stylesheet.css">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>MateAr</title>
    
</head>

    
    <div class = "Header">
        <%- include ('../partials/header') %>
    </div>
    

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="\images\foto-prueba3.png" class="d-block w-100" alt="mate-carro">
          </div>
          <div class="carousel-item">
            <img src="\images\carrousel-prueba1.jpg" class="d-block w-100" alt="mate-carrro">
          </div>
          <div class="carousel-item">
            <img src="\images\carrousel-prueba2.jpg" class="d-block w-100" alt="mate-carrrro">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <div class="articulo-cont">

        <a href="/products"><article class="articulo-circulo">A</article></a>
        <a href="/products"><article class="articulo-circulo">A</article></a>
        <a href="/products"><article class="articulo-circulo">A</article></a>
        <a href="/products"><article class="articulo-circulo">A</article></a>
        <a href="/products"><article class="articulo-circulo">A</article></a>
        <a href="/products"><article class="articulo-circulo">A</article></a>
        <a href="/products"><article class="articulo-circulo">A</article></a>
        <a href="/products"><article class="articulo-circulo">A</article></a>

    </div>

    <div class ="Footer">
        <%- include ('../partials/footer') %>
    </div>
    