<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/stylesheet.css">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>MateAr</title>
    
</head>

<body>
    
    <div class = "Header">
        <%- include ('../partials/header') %>
    </div>
    
    <section><article></article></section>
    

    <div class ="Footer">
        <%- include ('../partials/footer') %>
    </div>
    
    
</body>
</html>